#click-me {
  /*-webkit-border-radius: 4px;
  -moz-border-radius: 4px;*/
  border-radius: 4px;
  border: solid 1px #20538D;
  position: relative;
  height: 15px;
  margin-left: 20em;
  margin-top: 5em;
  padding: 10em 15em;
  background: #4479BA;
  color: FFF;
}

#cities {
  margin-left: 20em;
}

.inner {
  width: 50%;
  margin: 0 auto;
  padding-left: 50em;
}

html, body {
  margin:0;
  padding:0;
  height:65%;
}

#container {
   min-height:15em;
   max-height: 20em;
   position:relative;
}

#footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:35px;   /* Height of the footer */
   background:#6cf;
}

.weather-results {
  margin-left: 11em;
}
